<div class="text-center p-3">
    <img src="~/Content/images/fidelitas.png" class="img-fluid mb-3" alt="Fidelitas Logo">
    <div class="clearfix"></div>

    <strong>Estudiantes </strong>
    <ul>
        <li>Adrián Rojas Sánchez</li>
        <li>Eduardo Alvarado Artavia</li>
    </ul>

    <strong>Profesor</strong>
    <ul>
        <li>Miguel Ángel Corea</li>
    </ul>

    <strong>Horario</strong>
    <p>Miércoles 6pm - 9pm</p>

    <strong>I Cuatrimestre 2021</strong>
</div>