@model IEnumerable<SISCO.CapaDatos.ViewModels.ProductoViewModel>
@using SISCO.Web.Extensions

@{
    ViewBag.Title = "Listado de productos";
}

<h2 class="text-center p-2">@ViewBag.Title</h2>
<hr />

<div id="contenido-productos">
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <article class="producto">
                <div class="image-wrap">
                    @if (item.Imagen != null)
                    {
                        @Html.Image(item.Imagen)
                    }
                    else
                    {
                        <img src="~/Content/images/sinimagen.jpg" />
                    }
                </div>
                <div class="productdetails_button">
                    @Html.ActionLink("Ver Detalles", "Detalle", "Producto", new { id = item.Id }, new { @class = "btn btn-primary" })
                </div>
            </article>
        }
    }
    else
    {
        <p class="lead"> No hay productos para mostrar</p>
    }

</div>