@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-6">
                @Html.ActionLink("Bienvenido " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "list-group-item d-inline-block w-100" })
            </div>
            <div class="col-6">
                <a class="list-group-item d-inline-block w-100 text-center" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-6 p-0">
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "list-group-item d-inline-block w-100 text-center" })
        </div>
        <div class="col-6 p-0">
            @Html.ActionLink("Iniciar Sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "list-group-item d-inline-block w-100 text-center" })
        </div>
    </div>
}
